site_name: Javascript by galatcode
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime
  # logo: PyTorch_logo_icon.svg

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link:
    - icon: fontawesome/brands/linkedin
      link:
    - icon: fontawesome/brands/instagram
      link:
